<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% @blog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "40x40"%>
  </div>
  <div class="field">
    <%= f.label 'Blog Image URL' %><br>
    <%= f.text_field :blog_img %>
  </div>
  <div class="field">
    <%= f.label 'Date Posted' %><br>
    <%= f.text_field :datePosted %>
  </div>
  <div class="actions">
    <button id="whatever" class="btn btn-primary" name="submit" type="submit">
      <span>Save</span>
      <i class="icon-ok" style="font-size:20px; vertical-align: middle;"></i>
    </button>
  </div>
<% end %>
