<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/wall.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Blog</h1>
          <hr class="small">
          <span class="subheading">Blogging for Product Managers</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <% @blogs.each do |blog| %>
                <div class="post-preview">
                  <%= link_to(blog) do %>
                        <h2 class="post-title">
                  <%= blog.headline %>
                </h2>
                      <p class="post-meta">Posted by Michael Irschick on <%= blog.datePosted %></p>
                  <% end %>
                </div>
                <div>
                  <%= link_to 'View', blog %>
                  <%= link_to 'Edit', edit_blog_path(blog) %>
                </div>
                <hr>
              <% end %>
              <ul class="pager">
                <li class="next">
                  <%= link_to 'Add Blog', new_blog_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



