<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="post-preview">
          <h2 class="post-title">
            <%= @blog.headline %>
            <p class="post-meta">Posted by <a href="#">Michael Irschick</a> on <%= @blog.datePosted %>
            </p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <p><%= @blog.content %></p>
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_blog_path(@blog) %> |
        <% end %>
        <%= link_to 'Back', blogs_path %>
        <!--Show all the comments-->
        <% if !@comments.empty? %>
            <%= render 'comments' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading"><strong><%= @blog.headline %></strong>
          </div>
          <div class="panel-body">
            <p>Short Description Here</p>
            <p>Id: <%= @blog.id %></p>
            <p>Blog Img: <%= @blog.blog_img %></p>
            <p class="post-meta">Posted by <a href="#">Michael Irschick</a> on <%= @blog.datePosted %></p>
            <div class="rated" data-score="<%= @blog.average_rating %>"></div>
          </div>
      </div>
    </div>
      <!--Show the Highest Comment-->
    <% if !@blog.highest_rating_comment.nil? %>
      <% if !@blog.highest_rating_comment.nil? %>
        <h3>Highest Rating</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>
              <p><%= @blog.highest_rating_comment.user.first_name %> <small><em><%= "#{time_ago_in_words(@blog.highest_rating_comment.created_at)} ago" %></em></small></p>
            </strong>
          </div>
          <div class="panel-body">
            <div class="rated" data-score="<%= @blog.highest_rating_comment.rating %>"></div>
            <p><%= @blog.highest_rating_comment.body %></p>
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      <% end %>
    <% end %>

    <!--Show the lowest Comment-->
    <% if !@blog.lowest_rating_comment.nil? %>
      <% if !@blog.lowest_rating_comment.nil? %>
        <h3>Lowest Rating</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>
              <p><%= @blog.lowest_rating_comment.user.first_name %> <small><em><%= "#{time_ago_in_words(@blog.lowest_rating_comment.created_at)} ago" %></em></small></p>
            </strong>
          </div>
          <div class="panel-body">
            <div class="rated" data-score="<%= @blog.lowest_rating_comment.rating %>"></div>
            <p><%= @blog.lowest_rating_comment.body %></p>
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      <% end %>
    <% end %>
    <!-- Allow new comments -->
    <%= render 'new_comment' %>
    </div>
  </div>
</div>



