<p id="notice"><%= notice %></p>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/wall.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Authors: Irschick Blog</h1>
          <hr class="small">
          <span class="subheading">Blogging for Product Managers</span>
        </div>
      </div>
    </div>
  </div>
</header>


<button class="btn btn-primary" data-toggle="modal" data-target="#myFirstModal">
  Show Modal
</button>

<div class="modal fade" id="myFirstModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">This is a modal</h4>
      </div>
      <div class="modal-body">
        <p>The content goes here.</p>
      </div>
      <div class="modal-footer">
        <p>This is the footer.</p>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal hide fade">-->
  <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <!--<h3 class="modal-heading">Modal header</h3>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<p>One fine body…</p>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
    <!--<a href="#" class="btn btn-primary">Add to Cart</a>-->
  <!--</div>-->
<!--</div>-->


<!--<table>-->
  <!--<% @authors.each do |author| %>-->
      <!--<tr>-->
        <!--<td><%= author.name %></td>-->
        <!--<td><%= link_to 'View Details', author, remote: true %></td>-->
      <!--</tr>-->
  <!--<% end %>-->
<!--</table>-->


<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @authors.each do |author| %>
                    <div class="post-preview">
                      <%= link_to(author) do %>
                        <h2 class="post-title"><%= author.name %>
                        </h2>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to 'View', author, remote: true %>
                      <%= link_to 'Edit', edit_author_path(author) %>
                    </div>
                    <hr>
                <% end %>
                <ul class="pager">
                  <li class="next">
                    <%= link_to 'Add Author', new_author_path %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





